<polymer-element name="x-auction" extends="li" attributes="auction">
  <template>
    <style>
      @host {
        * {
          width: 600px;
          margin: 0 auto;
          background-color: yellow;
        }
      }

      h1 {
        font-size: 1.5em;
        font-weight: 700;
      }

      img {
        margin-top: 1em;
        width: 300px;
      }

      div.column {
        float: left;
        width: 420px;
        padding: 1.5em;
      }

      div.clear {
        clear: both;
      }

      td {
        padding: 0px 20px;
      }

      button {
        font-size: 1.2em;
        padding: 5px 30px;
      }

      input {
        font-size: 1.2em;
        float: left;
      }
    </style>

    <div class="column">
      <h1>Item: {{auction.itemDescription}}</h1>
      <div>Starting price: ${{auction.startingPrice}}</div>

      <template if="{{auction.buyItNowPricePrice}}">
        <div>Buy it now: ${{auction.buyItNowPricePrice}}</div>
      </template>

      <div>
        Ending date: {{auction.endingDate}}
        <template if="{{auction.active}}">(in {{timeLeft}})</template>
      </div>

      <template if="{{auction.winner}}">
        <div>Winner: {{auction.winner.name}}</div>
      </template>

      <img src="{{auction.image}}">
    </div>

    <div class="column">
      <h2>Bids</h2>

      <template if="{{auction.active}}">
        <x-error error="{{errors['bid']}}">
          <input type="number" value="{{bid}}">
        </x-error>
        <button on-click="makeBid">Bid</button>

        <template if="{{auction.buyItNowPricePrice}}">
          or <button on-click="buy">Buy</button>
        </template>

      </template>

      <template if="{{auction.bids.length > 0}}">
        <table>
          <thead>
            <tr>
              <th>Bidder</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
            <template repeat="{{auction.bids}}">
              <tr>
                <td>{{bidder.name}}</td>
                <td>{{amount}}</td>
                <td>{{createdAt}}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </template>
    </div>

    <div class="clear"/>
  </template>

  <script type="application/dart" src="auction_view.dart"></script>
</polymer-element>