<link rel="import" href="auction.html">

<polymer-element name="x-auctions" extends="ul" attributes="auction-list">
  <template>
    <style>
      li {
        width: 1000px;
        margin: 0 auto;
        list-style-type: none;
        border-bottom: 1px solid RGB(212,212,212);
      }
    </style>
    <template repeat="{{auctionList.auctions}}">
      <li>
        <x-auction auction="{{}}"></x-auction>
      </li>
    </template>
  </template>
  <script type="application/dart" src="auctions_view.dart"></script>
</polymer-element>