<polymer-element name="x-error" extends="div" attributes="error">
  <template>
    <style>
      span.error {
        color: red;
      }
    </style>
    <div>
      <div>
        <content></content>
      </div>
      <span class="error">{{error}}</span>
    </div>
  </template>

  <script type="application/dart">
    import 'package:polymer/polymer.dart';
    @CustomTag("x-error")
    class ErrorView extends PolymerElement with ObservableMixin {
      @observable String error;
    }
  </script>
</polymer-element>